### 1단원 연습문제

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

file_path = '../data/drinks.csv'
drinks = pd.read_csv(file_path)
drinks['continent'] = drinks['continent'].fillna('OT')

In [3]:
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,OT
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

### 대륙별 평균 wine_servings

In [4]:
drinks_continents_wine = drinks.groupby('continent')['wine_servings'].mean()
print(drinks_continents_wine)

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
OT     24.521739
SA     62.416667
Name: wine_servings, dtype: float64

### 국가별 모든 servings의 합

In [8]:
drinks['total_servings'] = drinks['beer_servings'] + drinks['spirit_servings'] + drinks['wine_servings']

In [9]:
drinks[['country', 'total_servings', 'continent']].sample(5).head()

            country  total_servings continent
45   Czech Republic             665        EU
84          Jamaica             188        OT
163        Suriname             313        SA
182  United Kingdom             540        EU
165          Sweden             398        EU

#### 전체 평균 보다 적은 알코올을 마시는 대륙?

In [30]:
total_mean = drinks['total_litres_of_pure_alcohol'].mean()
continent_mean = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
continent_under_mean = continent_mean[continent_mean <= total_mean].index.tolist()
print(continent_under_mean)

['AF', 'AS', 'OC']